.container-app {border: transparent ;
max-width: 800px;
height: 1000px;
border-radius: 12px;
margin:  50px auto;
padding: 20px 30px 600px 30px;
background-color:  transparent;
background-image:
url(https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
;
}

h1 {text-align: center;
    padding: 20px;
    font-family: 'Secular One', sans-serif;}

h2 {  text-shadow: #f3628d 2px 0 10px;
    font-size: 25px;
    font-family: "Concert One", cursive;
    font-style: oblique;
    text-align: center;
padding: 10px;  }

h3 {font-family: 'Secular One', sans-serif;
    color: #2f4f67;
    text-align: center;
display: block;
margin: 0 auto;}

.weather-forecast-temperature {font-family: 'Secular One', sans-serif;
    color: #2f4f67;
    text-align: center}

.col-7 { text-align: center;
    margin: 0 auto;
    border: outset;
    border-width: 2px;
    border-color: rgba(89, 138, 228, 0.418);
    border-collapse: separate;
} 

.col-6 {text-decoration: wavy;
text-align: center;
}

.card.today {display: block;
margin: 20px auto;
    font-family: 'Concert One', cursive;
 background-color:rgba(105, 105, 105, 0.341);
  ;}
    
.row.weather-forecast {box-shadow: 2px 3px 3px;
    border-color: rgba(89, 138, 228, 0.418);
margin: 40px auto;}

.col-2 
{background-image: url(https://images.pexels.com/photos/2088203/pexels-photo-2088203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-color: transparent;
display: block;
margin: 30px auto;}
     
#search-bar { background-color: rgba(135, 206, 250, 0.178);
    font-family: 'Secular One', sans-serif;
    color: #2f4f67;
    padding: 10px;
width: 300px ;
display:block;
margin: 0 auto;}

.buttonMost {background-color: transparent;
border:none
}

.buttonMost:hover {background-color: lavender;}

#currentButton {display: block;
margin: 15px auto 0 auto;
font-family: 'Secular One', sans-serif;
color: #2f4f67;
  background-color:#ffcdcc;
  font-weight: 500;
  font-family: 'Concert One', cursive;}

.col-5 {display: block;
    text-align: center;
    ; margin: 0 auto
    ; padding-right: 0;}

.row.current {padding: 50px 0 0 0}

    .row.search {display: block; 
        margin: 0 auto;
    padding: 20px }

    #temperature {font-size: 30px;}

   
   
    #search-text-input  {
       background-color:#94b0dd;
       color: mediumvioletred;}

   form :hover {box-shadow: #f3628d 2px 0 10px;}

    #tokyo {  font-family: 'Secular One', sans-serif; }
    #madrid {  font-family: 'Secular One', sans-serif;}
    #paris {  font-family: 'Secular One', sans-serif;}

    input {
        color: dodgerblue;
        border-radius: 8px;
        border-color: #6592ce;
      }
      
      #city {color: thistle;
    font-size:35px}

    #currentButton:hover {background-color: mistyrose;
        color: darkgray;}

 #icon {display: block;
margin: 0 auto;}