.container-app {border: solid;
max-width: 700px;
border-color: aquamarine;
margin:  0 auto;
padding: 20px 20px 600px 20px;}

h1 {text-align: center;}

h2 {text-align: center;
padding: 10px;  }

.col-7 { text-align: center;
    border: solid;
    border-color: darkkhaki ;
padding: 30px 0;} 

.col-6 {text-decoration: wavy;}
.card.today {margin: 0 auto;
display: block;}
    
    
#search-bar { padding: 20px }

.row.cards {border: darkseagreen solid;
margin: 20px auto;}

.card.days { width: 140px;
margin: 20px 0px;}

#currentButton {display: block;
margin: 15px auto 0 auto}

